@font-face {
  font-family: 'MuseoSansCyrl';
  scr: url('./fonts/MuseoSansCyrl500.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  scr: url('./fonts/MuseoSansCyrl700.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'MuseoSansCyrl';
  scr: url('./fonts/MuseoSansCyrl900.woff') format('woff');
  font-weight: 900;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  font-size: inherit;
}

ul {
  list-style: none;
}
:hover {
  transition: all 0.3s;
}
img {
  display: block;
}
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  background-color: rgb(255, 255, 255);
}
body {
  color: rgb(26, 26, 26);
  font-family: 'MuseoSansCyrl', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
  overflow-x: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.inner {
  padding: 22px 0 22px;
  max-width: 690px;
  width: 100%;
}

.article__top-box {
  display: flex;
  align-items: center;
}
.article__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  margin-right: 15px;
}

.article__text {
  margin: 16px 0 40px;
}

.article__text-help {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 16px;
}
.article__bottom-box {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
}
.article__bottom-btn {
  display: flex;
  border-radius: 12px;
  background-color: rgb(54, 186, 95);
  color: rgb(255, 255, 255);
  padding: 15px 56px;
  margin-right: 8px;
}
.article__bottom-btn-img {
  margin-right: 8px;
}
.article__bottom-list {
  display: flex;
}
.article__item {
  padding: 16px;
  border-radius: 12px;
  background-color: rgb(249, 249, 249);
  border: 1px solid transparent;
  transition: all 0.3s;
  margin-right: 8px;
}
.article__item:hover {
  background-color: inherit;
  border-color: rgb(54, 186, 95);
}
